.cart-item-area {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}
.cart-photo {
    width: 400px;
    height: auto;
}