body {
    background-color: #e3e3e3;
}
.carousel-item {
    height: 650px !important;
}
.elegoo-img {
    height: 500px;
    width: auto;
}
.gboy-img {
    height: 500px;
    width: auto;
}
.r_pi-img {
    height: 500px;
    width: auto;
}

.elegoo-caption {
    color: white;
    font-family: 'Helvetica';
    font-size: 76px;
}
.item-1 {
    background-color: blue;
}
.item-2 {
    background-color: green;
}
.item-3 {
    background-color: red;
}

.downshift {
    position: relative;
    top: 30px;
}

.gradient-div {
    background: rgb(182,182,182);
    background: linear-gradient(180deg, rgb(210, 210, 210) 0%, rgb(231, 231, 231) 60%, rgb(255, 255, 255) 100%);
    height: 50px;
    width: 100%;
}
.gallery-img {
    width: 375px;
    height: auto;
}

.gallery-square {
    height: 550px;
    background-color: white;
   
   z-index: 1;

   border: 1px solid #cccccc;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.myFooter {
    background-color: #001864;
    height: 400px;
}
.test-link-color {
    color: white;
    font-family:'Open Sans';
}