body {
    background-color: #e3e3e3;
}
.carousel-item {
    height: 550px !important;
}
.elegoo-img {
    height: auto;
    width: 30vw;
}
.gboy-img {
    height: auto;
    width: 30vw;
}
.r_pi-img {
    height: auto;
    width: 40vw;
}

.elegoo-caption {
    color: black;
    font-family: 'Open Sans';
    font-size: 76px;
}
.elegoo-desc {
    font-family: 'Open Sans';
    font-size: 48px;
    position: relative;
    top: 45px;
}
.item-1 {
    background-color: rgb(129, 161, 196);
}
.item-2 {
    background-color: rgb(106, 170, 106);
}
.item-3 {
    background-color: rgb(169, 107, 107);
}

.downshift {
    position: relative;
    top: 30px;
}

.carousel-img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gradient-div {
    background: rgb(182,182,182);
    background: linear-gradient(180deg, rgb(210, 210, 210) 0%, rgb(231, 231, 231) 60%, rgb(255, 255, 255) 100%);
    height: 50px;
    width: 100%;
}
.gallery-img {
    width: 375px;
    height: auto;
}

.gallery-square {
    height: 550px;
    background-color: white;
   
   z-index: 1;

   border: 1px solid #cccccc;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.myFooter {
    background-color: #001864;
    height: 400px;
}
.test-link-color {
    color: white;
    font-family:'Open Sans';
}

.footer-link {
    text-decoration: none;
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
}
.breaker {
    display: none;
}

@media (max-width: 500px) {
    .elegoo-caption {
        color: black;
        font-family: 'Open Sans';
        font-size: 40px;
        position: relative;
        top: 80px;
    }
    .elegoo-desc {
        font-family: 'Open Sans';
        font-size: 32px;
        position: relative;
        top: 65px;
    }
    .breaker {
        display: block;
    }
}